@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.scrollbar-custom::-webkit-scrollbar-track-piece {
  background-color: #9ca3af;
}


body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-track-piece {
  background-color: #6b7280;
}

.overflowImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  }